html {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  // height: 980px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: $copy;
  background-color: rgb(250, 250, 250);
  .delete p {
    margin: 1em 0px;
    font-weight: 300;
    line-height: 1.4;
    &.item {
      font-weight: 500;
      color: royalblue;
      text-transform: uppercase;
    }
  }
}

/* HEADINGS */
h1, h2, h3, h4, h5, h6 {
  font-family: $title;
  font-weight: $normal;
}
p, ul, ol, li, input, textarea, button {
  font-family: $copy;
}
/* SITE-WRAPPER */
.site-wrapper {
  width: 1000px;
  margin: 0px auto;
}

/* HEADER */
header {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  background: $darkblue;
  background-image: url("../images/misc/back-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: $lightsilver;
  /* SITE BRANDING */
  .site-branding {
    padding: 2em 1em;
    h1 {
      margin: 0px;
      font-size: 20px;
      text-align: center;
    } //h1
  } //.site-branding


  /* NAVIGATION */
  .main-nav {
    width: 100%;
    background-color: rgba($snow, 0.3);
    margin: 0px;
    padding: 1em;
    text-align: center;
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        display: inline;
        margin-right: 1em;
      } //li
    } //ul
  } //.main-nav

} //HEADER

/* MAIN CONTENT */
.main-content {
  display: block;
  width: 100%;
  min-height: 400px;
  padding: 2em 30px;
  background-color: $white;
  h1 {
    margin: 1em 0px;
    font-size: 24px;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}



/* FOOTER */
footer {
  display: block;
  width: 100%;
  margin: 0px 0px 10px 0px;
  background: $purple;
  padding: 10px 20px;
  color: $snow;

} //footer






















